.container {
    text-align: center;
    color: #fff;
    background: #18bc9c;

    position: fixed;
    width: 100%;
    z-index: 1;
    height: 88%;
    overflow: hidden;
    top: 0;
    left: 0;

    padding-top: 150px;
    padding-bottom: 50px;
}

.heading-name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}