.container {
    padding-top: 150px;
    padding-bottom: 50px;
}

.heading-name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.skills {
    font-size: 1.25em;
    font-weight: 300;
}