.content-wrapper {
    background-color: white;
    top: 87%;
    min-height: 12%;
    position: absolute;
    z-index: 2;
    width: 100%;
  }

img {
  display: block;
  margin: 0 auto 20px;
}

.content {
  padding: 100px 0;
  width: 100%;
}

.content h2 {
  margin: 0;
  font-size: 3em;
}

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}

.content h2 {
  color: #2c3e50;
}

img{ max-width:100%;}

.gallery-dog li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery-dog{ padding:0;display: flow-root;}

.gallery-dog li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery-dog li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery-dog .box-data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery-dog .box-data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery-dog li:hover .box-data{ background:rgba(255,0,39,0.55)}